<form>
    <input type='hidden' value='<%=address_details._id%>' id='addressId'>
    <label for='address.street'>Line 1:</label>
    <input type='text' id='street' name='address.street' value='<%=address_details.street%>'><br>
    <label for='address.address_line_2'>Line 2:</label>
    <input type='text' id='line2' name='address.address_line_2' value='<%=address_details.address_line_2%>'><br>
    <label for='address.city'>City:</label>
    <input type='text' id='city' name='address.city' value='<%=address_details.city%>'><br>
    <label for='address.state'>State:</label>
    <input type='text' id='state' name='address.state' value='<%=address_details.state%>'> <br>
    <label for='address.zip'>Zip:</label>
    <input type='text' id='zip' name='address.zip' value='<%=address_details.zip%>'> <br>
    <div class='success-msg'>Update successfully!</div>
    <button type='submit' id='submit-address'>Update Address</button>
</form>