<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
		<title>Checkout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/foodMenu.css">
    <link rel="stylesheet" href="css/checkout.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/checkout.js"></script>
	<body class="bodyBackground">
	<div class="navBg">
		<nav class="navBar">
			<img class="logoImg">
			<span class="navLink">
				<a href="/home">Home</a>
				<a href="/menu">Menu</a>
				<a href="/about">About Us</a>
				<a href="/contact">Contact Us</a>
				<% if(!userInitial) { %>
					<a href="/login">Login/Register</a>
				<% } %>
			</span>
			<% if(userInitial) { %>
                <div class="box">
				    <div class="bar"><%=userInitial%></div>
                </div>
			<% } %>
			<ul class="menubar-list">
				<li class="mobile"><a href="/home">Home</a></li>
				<li class="mobile"><a href="/menu">Menu</a></li>
				<li class="mobile"><a href="/about">About Us</a></li>
				<li class="mobile"><a href="/contact">Contact Us</a></li>
				<% if(!userInitial) { %>
					<li class="mobile"><a href="/login">Login/Register</a></li>
				<% } else { %>
					<li><a href="/editProfile">Edit Profile</a></li>
					<li><a href="/logout">LogOut</a></li>
				<% } %>
			</ul>
		</nav>
	</div>
	<main>
		<div id="site">
            <h1 class="bold">Checkout</h1>
            <% if(!cartItems || cartItems.length == 0) { %>
                <div class="no-items">Add Items in cart to checkout!!</div>
                <div class="backBtn">	
                    <a href="/menu" class="back">Order Now</a>
                </div>
            <% } else { %>
                <table id="checkout-cart" class="shopping-cart">
                    <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0;i<cartItems.length;i++) { %>
                            <tr>
                                <td><%= cartItems[i].item_name %></td>
                                <td><%= cartItems[i].qty %></td>
                                <td>$<%= cartItems[i].total_price %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <div id="pricing">
                    <p id="sub-total">
                    <strong>Order Total</strong>: <span id="stotal">$<%=cart_total%></span>
                    </p>
                </div>
                <% if(address_details!=null) {%>
                    <div id="checkout-order-form">
                        <div class="order-main-forms">
                            <div class="delivery-address">
                                <h2>Order Delivery Address</h2>
                                <div class="address-form">
                                    <form>
                                        <input type="hidden" value="<%=address_details._id%>" id="addressId">
                                        <label for="address.street">Line 1:</label>
                                        <input type="text" id="street" name="address.street" value="<%=address_details.street%>"><br>
                                        <label for="address.address_line_2">Line 2:</label>
                                        <input type="text" id="line2" name="address.address_line_2" value="<%=address_details.address_line_2%>"><br>
                                        <label for="address.city">City:</label>
                                        <input type="text" id="city" name="address.city" value="<%=address_details.city%>"><br>
                                        <label for="address.state">State:</label>
                                        <input type="text" id="state" name="address.state" value="<%=address_details.state%>"> <br>
                                        <label for="address.zip">Zip:</label>
                                        <input type="text" id="zip" name="address.zip" value="<%=address_details.zip%>"> <br>
                                        <div class="success-msg">Updated successfully!</div>
                                        <button type="button" id="submit-address" >Update Address</button>
                                    </form>
                                </div>
                            </div>
                            <div class="section-payment">
                                <h2>Order Payment Details</h2>
                                <div class="payment-form">
                                    <form action="" method="POST">
                                        <label for="payment.type">Payment Type:</label>
                                        <select type="text" name="payment.type">
                                            <option value="" disabled selected>Select your option</option>
                                            <option value="Net Banking">Net Banking</option>
                                            <option value="Cash">Cash</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="submit-order" class="btn btn-danger">Place Order</button>
                    </div>
                <%} else { %>
                    <a href="/login?back=/checkout" class="btn btn-danger login">Login and Checkout</a>
                <% } %>
            <% } %>
        </div>
	</main>
</body>
</html>