<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<title>Contact Us</title>
		<link href="css/contact.css" rel="stylesheet" type="text/css">
		<link href="css/foodMenu.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/foodMenu.js"></script>
		<script type="text/javascript">
            $(document).ready(function() {
                setTimeout(function(){
                if ($('.error').length > 0) {
                $('.error').remove();
                }
            }, 5000);
            });
        </script>
	</head>
<body class="bodyBackground">
	<div class="navBg">
		<nav class="navBar">
			<img class="logoImg">
			<span class="foodMenuNavLink">
				<a href="/home">Home</a>
				<a href="/menu">Menu</a>
				<a href="/about">About Us</a>
				<a class="menu-item-selected" href="/contact">Contact Us</a>
				<% if(!userInitial) { %>
					<a href="/login">Login/Register</a>
				<% } else {%>
                    <a href="/orderDetails">Orders</a>
                <% } %>
			</span>
			<div class="cart">
				<% if(!userInitial && cartItems && cartItems.length > 0) { %>
					<a href="/checkout">
						<img class="cart-img" onclick="" src="images/cart.png">
						<div class="cart-count-menu"><%=cartCount%></div>
					</a>
				<% } %>
			</div>
			<% if(userInitial) { %>
				<div class="box">
					<div class="menu-user-initial">
						<%=userInitial%>
						<% if(cartItems && cartItems.length > 0) { %>
							<div class="bar-cart-count-menu"><%=cartCount%></div>
						<% } %>
					</div>
				</div>
			<% } %>
			<ul class="menu-list">
				<li class="mobile"><a href="/home">Home</a></li>
				<li class="mobile"><a href="/menu">Menu</a></li>
				<li class="mobile"><a href="/about">About Us</a></li>
				<li class="menu-item-selected mobile"><a href="/contact">Contact Us</a></li>
				<% if(!userInitial) { %>
					<li class="mobile"><a href="/login">Login/Register</a></li>
				<% } else { %>
					<% if(cartItems && cartItems.length > 0) { %>
						<li><a href="/checkout">View Cart</a></li>
					<% } %>
					<li class="mobile"></li><a href="/orderDetails">Orders</a></li>
					<li><a href="/editProfile">Edit Profile</a></li>
					<li><a href="/logout">LogOut</a></li>
				<% } %>
			</ul>
		</nav>
	</div>
	<table class="contact-in">
		<tr class="contact-row">
			<td class="contact-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.604435251038!2d-117.17243498481862!3d32.74969278098027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d954d4634b95b3%3A0xd6f3baf72d6d9015!2sThe%20Red%20Door!5e0!3m2!1sen!2sca!4v1607369903254!5m2!1sen!2sca" 
				width="600" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</td>
			<td class="contact-form">
				<span>Contact us</span>
				<form action="/contact" method="POST">
					<br>
					<input name="name" value='<%=form.name%>'
					class="contact-form-text" placeholder="Your Name" required><br>
					<% if (error != false && error.name && error.name.message) { %>
						<div class="error">
							<%= error.name.message %>
						</div>
						<br>
					<% } %>
					<input name="email"  class="contact-form-text"
					value='<%=form.email%>' placeholder="Your Mail" required><br>
					<% if (error != false && error.email && error.email.message) { %>
						<div class="error">
							<%= error.email.message %>
						</div>
						<br>
					<% } %>
					<textarea name="message" class="contact-form-textarea" 
					placeholder="What's this about?" required><%=form.message%></textarea><br>
					<% if (error != false && error.message && error.message.message) { %>
						<div class="error">
							<%= error.message.message %>
						</div>
						<br>
					<% } %>
					<input type="submit" class="contact-form-butn" value="send message">
				</form>
				<div class="contact">
					<h3>Call : 76767-67RED , Email : TheRedDoor@yahoo.in<br>
						Services: Monday-Saturday (11:30 AM to 9:00 PM)
					</h3>
					<h3>
						Address : 741 W Washington St, San Diego, CA 92103, United States
					</h3>
				</div>
			</td>
		</tr>
	</div>
	<!-- The Modal -->
	<% if(success) { %>
		<input type="hidden" id="showModal" />
	<% } %>
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
				<h4 class="Contact Message Response"></h4>
				<button type="button" onclick="hide()" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<div class="modal-desc">
						<label for="qty">The message has been recorded.<br>
							We will get back to you shortly!!</label>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" onclick="hide()" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>